// * {
// border: 1px solid red;
// }
.About {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content__container {
  }
  &__animated__div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image__container {
    border: 1.5px solid var(--action-color);
    width: 45vw;
    height: 45vw;
    max-width: 350px;
    max-height: 350px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.25s;

    & img {
      flex-shrink: 0;
      width: 133%;
    }
  }
  & h1 {
    width: fit-content;
    background: linear-gradient(
      180deg,
      transparent 70%,
      var(--action-color) 70%
    );
  }
  & h2 {
    width: fit-content;
    color: var(--text-color);
    background: linear-gradient(
      180deg,
      transparent 95%,
      var(--action-color) 95%
    );
    margin: 0px;
  }
  & li {
    color: var(--sub-action-color);
    & span {
      padding-left: 1rem;
      font-size: 2rem;
    }
    & .list-text {
      color: var(--text-color);
      margin: 0px;
    }
  }
  &__text__content {
    width: 80%;
    max-width: 50rem;
    text-align: center;
    font-size: 1.2rem;
  }
}
