// * {
// border: 1px solid red;
// }
.About {
  width: 100vw;
  height: fit-content;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content__container {
    // border: 1px solid red;
  }
  &__skills__header {
    align-self: center;
    background: linear-gradient(
      180deg,
      transparent 90%,
      var(--sub-action-color) 90%
    );
    font-size: 2rem;
  }
  &__animated__div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image__container {
    margin: 3rem;
    border: 1.5px solid var(--action-color);
    width: 45vw;
    height: 45vw;
    max-width: 350px;
    max-height: 350px;
    min-height: 100px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.25s;

    & img {
      flex-shrink: 0;
      width: 133%;
    }
  }
  &__image_array {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 60vw;
    max-width: 50rem;
    min-width: 300px;

    height: fit-content;
    & img {
      width: 10vw;
      min-width: 4rem;
      max-width: 7rem;
      padding: 1rem;
    }
  }
  & h1 {
    width: fit-content;
    background: linear-gradient(
      180deg,
      transparent 70%,
      var(--action-color) 70%
    );
  }
  & h2 {
    width: fit-content;
    color: var(--text-color);
    background: linear-gradient(
      180deg,
      transparent 95%,
      var(--action-color) 95%
    );
    // margin: 0px;
  }
  & li {
    color: var(--sub-action-color);
    & span {
      padding-left: 1rem;
      font-size: 2rem;
    }
    & .list-text {
      color: var(--text-color);
      margin: 0px;
    }
  }
  &__text__content {
    width: 80%;
    max-width: 50rem;
    text-align: center;
    font-size: 1.2rem;
    // margin: 1rem;
  }
}
