.landing {
  &__page {
    display: flex;
    flex-flow: column wrap;

    height: 100vh;
    width: 100vw;
  }
  &__main__container {
    padding-bottom: 10vh;
  }
  &__image__container {
    bottom: 0;
    right: 0;
    position: fixed;
    transition: opacity ease 0.15s;
    transition: transform ease 0.5s;
    & img {
      width: 250px;
      height: 250px;
    }
  }
  &__typewriter {
    width: 100%;
    height: 50vh;
    margin-bottom: 5vh;
    margin-top: 5rem;
  }
}
strong {
  padding-left: 1.5rem;
}
.typewriter-container {
  // border: 1px solid red;

  padding: 2rem;
}
.Typewriter {
  font-weight: 300;
  margin-top: 5rem;
  font-size: 2.3rem;
  &__wrapper {
    padding-left: 1.5rem;
  }
  &__cursor {
    color: var(--action-color);
  }
  &__kill-animation {
    animation: none !important;
  }
}
.move-sprite {
  transform: translateX(100%);
}
@media (max-width: 640px) {
  .Typewriter {
    font-size: 5.5vw;
  }
}
@media (min-width: 1000px) {
  .Typewriter {
    font-size: 3rem;
  }
}
@media (min-width: 1500px) {
  .Typewriter {
    font-size: 3.3vw;
  }
  .landing {
    &__image__container {
      & img {
        width: 20vw;
        height: 20vw;
      }
    }
  }
}
