.Single-Project {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.SingleProject {
  padding-top: 15vh;
  &-link {
    text-decoration: none;
    color: rgb(255, 166, 2);
    padding-right: 1rem;
    text-shadow: 0px 0px 2px rgba(247, 218, 112, 0.486);
    &:hover {
      text-shadow: 0px 0px 0.5px var(--action-color);
      color: var(--action-color);
    }
  }
  &__top__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__title_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  &__button__links {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;

    & button {
      font-size: 2rem;
      padding: 1rem;

      background-color: rgba(245, 222, 179, 0.1);
      color: var(--text-color);
      border: 2.5px solid var(--footer-color);
      border-radius: 10px;
      margin: 1.2rem;
      transition: all ease 0.25s;

      &:hover {
        cursor: pointer;
        background-color: var(--projecthover-color);
      }
    }
  }
  &__bottom_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      background: linear-gradient(
        180deg,
        transparent 60%,
        var(--footer-color) 60%,
        var(--footer-color) 87%,
        var(--action-color) 87%,
        var(--action-color) 95%,
        transparent 95%
      );
    }
    & p {
      width: 60vw;
      max-width: 800px;
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 3rem;
    }
  }
  &__image__array__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 0px;
    & img {
      width: 10vw;
      min-width: 3rem;
      max-width: 4.5rem;
      padding: 1rem;
    }
  }
  &__image__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    & .single {
      width: 30vw;
      min-width: 350px;
    }
    & .laptop {
      width: 60vw;
      max-width: 600px;
      align-self: flex-end;
    }
    & .moblie {
      width: 40vw;
      max-width: 200px;
    }
    & img {
      margin-top: 2rem;
      margin-left: 1rem;
    }
  }
}
